@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body{
  background-color: #5B2386;
  font-family: 'GmarketSansMedium';
  color: white;
}

#contents{
  display: flex;
  justify-content: center;
}

/* 타이틀 */

.wrapper{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 66px;
}

.title .title-img {
  position: absolute;
  width: 564px;
  height: 112px;
}

.title .title-clock {
  position: relative;
  width: 261px;
  height: 265px;
}

/* 1만 시간의 법칙 설명 */

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro .intro-txt{
  font-family: 'OTEnjoystoriesBA';
  color: #F5DF4D;
  font-size: 36px;
}

.intro .intro-desc{
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
}

.intro .intro-desc p{
  position: relative;
  font-size: 18px;
  line-height: 1.7;
  margin-top: 114px;
}

.intro .intro-desc span{
  font-family: 'GmarketSansBold';
  font-size: 24px;
}

.intro .intro-quotes{
  position: relative;
  width: 493px;
  height: 96px;
  margin-top: 91px;
} 

/* 목표 설정 입력 */

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 102px;
}

.inputs .wannabe-txt,
.inputs .wannabe-time{
  display: flex;
  align-items: center;
}

.inputs .wannabe-txt{
  margin-bottom: 27px;
}

.inputs .time-txt{
  margin-bottom: 115px;
}

.wannabe-txt p,
.time-txt p{
  font-size: 24px;
  line-height: 24px;
}

.inputs input{
  width: 228px;
  height: 57px;
  border-radius: 7px;
  font-size: 24px;
  text-align: center;
  color: #BABCBE;
  border-style: none;
}

.inputs input::placeholder{
  color: #BABCBE;
}

.submit{
  display: flex;
  position: relative;
}

.submit .click-img{
  position: absolute;
  width: 64px;
  height: 74px;
  top: 15px;
  left: 570px;
}

/* 버튼 모음 */

.btn-submit{
  position: relative;
}

.btn-submit,
.btn-go,
.btn-share,
.btn-close{
  font-family: 'GmarketSansBold';
  font-size: 24px;
  color:#5B2386;
  background-color: #FCEE21;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 56px;
  padding: 21px 49px;
  border-style: none;
  cursor: pointer;
}

/* 결과 */

.result{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 147px;
}

.result .result-txt span{
  font-family: 'GmarketSansBold';
  font-size: 72px;
  line-height: 72px;
}

.result .result-txt p{
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}

.result .buttons{
  display: flex;
  justify-content: center;
  margin-top: 107px;
}

.buttons .btn-share{
  background-color: white;
  margin-left: 10px;
}

footer{
  text-align: center;
  margin-top: 130px;
}

footer img{
  width: 125px;
  height: 25px;
}

footer p{
  font-family: 'Noto Sans KR';
  color: white;
  font-size: 12px;
  line-height : 17px;
  margin-top: 20px;
  margin-bottom: 70px;
}

/* 모달 */

#modal{
  display: none;
  justify-content: center;
  align-items: center;

}

.modal_wrapper{
  width: 650px;
  height: 700px;
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'OTEnjoystoriesBA';
}

.modal_txt strong,
.modal_txt p{
  color:#5B2386
}

.modal_txt strong{
  font-size: 96px;
}

.modal_txt p{
  font-size: 36px;
}

.modal_wrapper img{
  width: 433px;
  height: 337px;
  margin-bottom: 74px;
}
