body{
  background-image: url(images/bg.png);
  background-size: cover;
}

body,
h1,
p{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 300px;
  margin: 100px auto;
}

.animal_img,
.ground_img{
  vertical-align: top;
}
/* 인라인, 인라인 블럭의 한 줄 안에서 세로 정렬 */

.animal_desc{
  margin: 0 auto;
  background-color: #8C512E;
  width: 240px;
  height: fit-content;
  padding: 30px;
  border-radius: 0 0 10% 10%;
  box-shadow: 0 10px 1px #4A260B;
}

.animal_desc h1{
  font-size: 24px;
  color: white;
  padding-bottom: 10px;
}

.animal_desc p{
  font-size: 16px;
  font-weight: lighter;
  color: white
}